/* variables */

:root {
    --color-principal: #7B5F2E;
    --color-secundario: #D6CBB7;
    --color-terciario: #fff;
    --color-oscuro: #252525;
    --texto-principal: 'Poppins', sans-serif;
    --texto-secundario: 'Dancing Script', cursive;
    --texto-color-title: #7B5F2E;
    --text-color-principal: #252525;
}

/* estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-secundario);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* cabecera */

header {
    width: 100%;
    height: 22vh;
    background-image: url('../img/cabecera.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 1px solid var(--color-principal);
    position: relative;
}

.foto_perfil {
    display: flex;
    justify-content:center;
    align-items: center; 
}
.foto_perfil img{
    width: 110px;
    height: 110px;
    border: 5px solid var(--color-terciario);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: -30%;
    -webkit-box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
    box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
}

/* Nombre puesto empresa */
.nombre_puesto {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}
.nombre {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 70px;
}
.nombre p {
    font-family: var(--texto-principal);
    font-size: 1.7rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 700;
}
.puesto p {
    font-family: var(--texto-principal);
    font-size: 1rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 500;
}
.empresa p {
    font-family: var(--texto-principal);
    font-size: 1rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 500;
    margin-top: 8px;
}

/* Contacto */
.contacto {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 45px;
}
.contacto h2 {
    font-family: var(--texto-secundario);
    font-size: 2.1rem;
    color: var(--texto-color-title);
    text-align: center;
}
.item-contacto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items:center;
    margin-top: 10px;
}
.icon-contacto{
    width: 60px;
    height: 60px;
    color: #7B5F2E;
}
/* botones */
.botones {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 50px;
}
.boton_compartir {
    text-decoration: none;
    padding: 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight:300;
    color: var(--color-terciario);
    border-left: 1px solid var(--color-terciario);
    width: 100%;
    text-align: center;
}
.boton_guardar {
    text-decoration: none;
    padding: 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight:300;
    color: var(--color-terciario);
    border-left: 1px solid var(--color-terciario);
    width: 100%;
    text-align: center;
}
.qr_image {
    display: flex;
    justify-content:center;
    margin: auto;
}
.shake-horizontal:hover {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-7-23 14:13:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
  
  

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal_container {
    margin: auto;
    width: 90%;
    max-width: 320px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    transform: var(--transform);
    transition: var(--transition);
}

.modal_close{
    margin-top: 10px;
    text-decoration: none;
    color:var(--color-terciario);
    font-family: var(--texto-principal);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.6rem 0.7rem;
    display:inline-block;
    border-radius: 5px;
    background-color: var(--color-principal);
    transition: background-color 0.3s ease-in;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s ease-in;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal_content {
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.modal_container h2 {
    text-align: center;
    font-family: var(--texto-principal);
    color: var(--color-principal);
}
.modal_content a i {
    color: var(--color-principal);
}
.modal_close:hover {
    background-color: var(--color-secundario);
    color: var(--color-oscuro);
}